@charset "UTF-8";
html {
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, xmp {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

input, select, textarea, button {
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  min-height: 0%;
}

body {
  color: #000;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

html {
  font-size: 62.5%;
}

.pcOnly {
  display: block;
}
@media screen and (max-width: 960px) {
  .pcOnly {
    display: none;
  }
}

.tabAndSp {
  display: none;
}
@media screen and (max-width: 960px) {
  .tabAndSp {
    display: block;
  }
}

.spOnly {
  display: block;
}
@media screen and (min-width: 961px) {
  .spOnly {
    display: none;
  }
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #333631;
  background-color: #F1EFEA;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2, h3 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.section {
  overflow: hidden;
  max-width: 109.2rem;
  margin: 15rem auto;
}

@media screen and (max-width: 960px) {
  .body {
    font-size: 1.4rem;
  }
  .section {
    margin: 10rem 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  .body {
    font-size: 1.4rem;
  }
  .section {
    margin: 10rem auto;
  }
}
.float, .reservation, .news, .menu, .concept {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.kyoukamiQanda, .kyoukamiFlow, .kyoukamiMenu, .humanstemcells, .ravissa, .improvementColor, .improvement, .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  color: #C5B589;
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
  z-index: 10;
  padding: 0 3rem;
  box-sizing: border-box;
}
.header__logoImg {
  margin: 2.1rem 0;
}
.header__menuImg {
  margin-top: 1.6rem;
  cursor: pointer;
}

body.isActive {
  height: 100%;
  overflow: hidden;
}

.jsNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  padding-top: 1.6rem;
  padding-bottom: 6.4rem;
  background: #F1EFEA;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;
  z-index: 999;
}
.jsNav__closeBtn {
  margin-right: 3.8rem;
  margin-left: auto;
  cursor: pointer;
}
.jsNav__menu {
  margin-top: 11.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jsNav__list {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  margin-bottom: 4rem;
  position: relative;
}
.jsNav__list a {
  text-decoration: none;
  color: #333631;
}
.jsNav__list::before {
  content: attr(data);
  display: block;
}
.jsNav__list::after {
  content: "";
  display: block;
  position: absolute;
  top: 120%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  justify-content: center;
  height: 0.1rem;
  background-color: #333631;
  transition: width 300ms;
  width: 0;
}
.jsNav__list:hover::after {
  width: 100%;
}
.jsNav__logo {
  display: block;
  width: 10rem;
  margin: 7rem auto;
}

.jsNav.active {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1rem);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 10;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .jsNav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jsNav__list {
    margin-bottom: 2rem;
  }
}
.swiper img {
  max-width: 116rem;
  height: 68rem;
  margin-top: 10rem;
  margin-right: 7vw;
  margin-left: 20vw;
}

@keyframes scissorsMoveLeft {
  0%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-12deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(-12deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
@keyframes scissorsMoveRight {
  0%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(12deg);
  }
  60% {
    transform: rotate(0deg);
  }
}
.fvScrollIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.9rem;
  margin: 0 auto;
  position: relative;
}
.fvScrollIcon .fvScrollIcon__scissorsWrapper {
  position: relative;
  width: 2.9rem;
  height: 2.9rem;
}
.fvScrollIcon p {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 1.4rem;
  margin-top: 8rem;
}
.fvScrollIcon__scissors1, .fvScrollIcon__scissors2 {
  width: 2.9rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5rem;
}
.fvScrollIcon__scissors1 {
  animation: scissorsMoveLeft 2s ease-in-out infinite;
}
.fvScrollIcon__scissors2 {
  animation: scissorsMoveRight 2s ease-in-out infinite;
}

.fvScrollIcon::before {
  content: "";
  position: absolute;
  top: 0;
  width: 8.5rem;
  height: 0.1rem;
  border-top: solid 0.1rem #767676;
  transform: rotate(90deg);
}

@media screen and (max-width: 960px) {
  .swiper img {
    margin-top: 10rem;
    margin-right: 0;
    margin-left: 0;
  }
  .jsNav {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .swiper img {
    margin-top: 10rem;
    margin-right: 0;
    margin-left: 0;
    height: 60rem;
  }
  .jsNav {
    width: 100%;
  }
}
.concept {
  flex-direction: column;
  position: relative;
}
.concept img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.conceptTxts {
  position: relative;
}
.conceptTxts__ttl {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  text-wrap: balance;
  word-break: auto-phrase;
  font-size: 4rem;
  text-align: left;
  padding: 0 0.1rem 0.2rem;
  max-width: 20rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #767676;
  background-color: #F1EFEA;
}
.conceptTxts__message {
  font-size: 2rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
}
.conceptTxts__details {
  margin-left: 6rem;
  margin-bottom: 10rem;
}

.conceptSupport {
  text-wrap: balance;
  word-break: auto-phrase;
  text-align: center;
  padding: 6rem 7rem;
  margin: 3vw auto;
  max-width: 70rem;
  background-color: #fdfdfd;
  position: relative;
  z-index: 1;
}

.conceptTxts::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #333631;
  width: 50%;
  height: 40rem;
  top: 90%;
  left: 2vw;
  z-index: 0;
}

@media screen and (max-width: 960px) {
  .concept .conceptTxts__ttl {
    font-size: 3.2rem;
  }
  .concept img {
    position: static;
    width: 100%;
    max-width: 55rem;
    margin-left: auto;
  }
  .conceptTxts__details {
    margin-left: 6rem;
    margin-bottom: 2rem;
  }
  .conceptTxts::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #333631;
    width: 60%;
    height: 50rem;
    top: 200%;
    left: 3vw;
    z-index: 0;
  }
  .conceptSupport {
    margin-top: -5vw;
    margin-bottom: 7rem;
  }
}
@media screen and (max-width: 600px) {
  .concept {
    font-size: 1.4rem;
  }
  .concept .conceptTxts {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .concept .conceptTxts__message {
    margin-left: 0;
  }
  .concept .conceptTxts__details {
    margin-left: 0;
  }
  .concept .conceptTxts::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #333631;
    width: 70%;
    height: 30rem;
    top: 257%;
    left: -2rem;
    z-index: 0;
  }
  .concept .conceptSupport {
    margin-top: 2rem;
    padding: 7rem 2.5rem;
  }
}
.profile__ttl {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  padding: 0 0.1rem 0.2rem;
  margin: 0 auto 3rem;
  border-bottom: 0.1rem solid #767676;
  background-color: #F1EFEA;
  width: 20rem;
}

.profileContents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profileImg {
  max-width: 40rem;
  max-height: 44rem;
  object-fit: cover;
}

.profileTxts {
  color: #F1EFEA;
  width: 64%;
  background-color: #333631;
  padding-top: 10.5rem;
  padding-left: 10%;
}
.profileTxts__name {
  font-size: 2.4rem;
}
.profileTxts__career {
  margin-left: 12.7rem;
}
.profileTxts__details {
  line-height: 4rem;
  margin-top: 4rem;
  margin-left: 12.5rem;
}

@media screen and (max-width: 960px) {
  .profile__ttl {
    font-size: 3.2rem;
  }
  .profileImg {
    height: 44rem;
    width: 100%;
    background-image: url(../img/profile_pic.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  .profileTxts {
    padding: 5rem;
    width: 100%;
  }
  .profileTxts__name {
    font-size: 2rem;
  }
  .profileTxts__career {
    margin-left: 10.5rem;
  }
  .profileTxts__details {
    line-height: 4rem;
    margin-top: 2rem;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .profile {
    font-size: 1.4rem;
  }
  .profile__ttl {
    font-size: 3.2rem;
  }
  .profileContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .profileImg {
    max-width: 40rem;
    max-height: 44rem;
    object-fit: cover;
  }
  .profileTxts {
    padding: 7rem 4.5rem;
    width: 100%;
  }
  .profileTxts__name {
    font-size: 2rem;
  }
  .profileTxts__career {
    margin-left: 10.5rem;
  }
  .profileTxts__details {
    line-height: 3rem;
    margin-top: 2rem;
  }
}
.menu {
  flex-direction: column;
  position: relative;
}
.menu__ttl {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 4rem;
  text-align: left;
  padding: 0 0.1rem 0.2rem;
  margin-bottom: 3rem;
  max-width: 20rem;
  border-bottom: 0.1rem solid #767676;
  background-color: #F1EFEA;
}

.menuImg {
  display: block;
  margin-left: 7rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
  z-index: 0;
  position: relative;
}

.menuImg::after {
  content: "";
  position: absolute;
  background-color: #333631;
  width: 70%;
  height: 70%;
  top: 40%;
  left: -10vw;
  z-index: -1;
}

.menuTxts {
  position: absolute;
  padding: 10rem 6rem;
  right: 0;
  z-index: 1;
  background-color: rgba(241, 239, 234, 0.75);
}
.menuTxts__details {
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  .menu__ttl {
    font-size: 3.2rem;
  }
  .menuImg {
    margin-right: 0;
    width: 100%;
  }
  .menuTxts {
    margin-top: 5rem;
    right: 0;
  }
  .menuTxts__details {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  .menu__ttl {
    padding-left: 2.5rem;
    font-size: 3.2rem;
  }
  .menuTxts {
    margin-top: 5rem;
    padding: 7rem 2.5rem;
  }
  .menuTxts__details {
    font-size: 1.4rem;
  }
  .menuImg {
    margin-left: 3rem;
  }
}
.btnArea {
  display: flex;
  justify-content: flex-end;
}
.btnArea a {
  text-decoration: none;
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 2rem;
  color: #333631;
  align-items: center;
  text-align: center;
  padding: 2.6rem 9rem;
  max-width: 30rem;
  background-color: #fdfdfd;
  border: solid 0.1rem #333631;
  position: relative;
}
.btnArea a::before {
  content: "";
  width: 7rem;
  border-top: solid 0.1rem #333631;
  position: absolute;
  left: -3.5rem;
  top: 50%;
}
.btnArea a:hover {
  color: #fdfdfd;
  background-color: #333631;
  transition: all 0.5s ease;
}
.btnArea a:hover::before {
  left: -4.5rem;
  transition: all 0.5s ease;
}

@media screen and (max-width: 600px) {
  .btnArea {
    justify-content: center;
  }
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.features__ttl {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  padding: 0 0.1rem 0.2rem;
  margin: 0 auto 3rem;
  width: 20rem;
  border-bottom: 0.1rem solid #767676;
  background-color: #F1EFEA;
}

.featuresContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .features__ttl {
    font-size: 3.2rem;
  }
  .featuresContents {
    display: flex;
    flex-direction: column;
  }
}
.news {
  flex-direction: column;
  position: relative;
}
.news__ttl {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 4rem;
  text-align: left;
  padding: 0 0.1em 0.2em;
  margin-bottom: 3rem;
  max-width: 20rem;
  border-bottom: 0.1rem solid #767676;
  background-color: #F1EFEA;
}

.newsList__item {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem;
  gap: 10rem;
  border-bottom: 0.1rem #767676 solid;
}
.newsList__item time {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-weight: bold;
  white-space: nowrap;
}
.newsList__txt {
  margin: 0;
}

@media screen and (max-width: 960px) {
  .news__ttl {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 600px) {
  .news {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.4rem;
  }
  .newsList__item {
    gap: 2rem;
  }
}
.reservation a {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  text-decoration: none;
  color: #333631;
}
.reservation__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fdfdfd;
  border: solid 0.1rem #333631;
  padding: 10rem;
  width: 35rem;
  height: 30rem;
  transition: background-color 0.4s, color 0.4s;
}
.reservation__btn:hover {
  background-color: #333631;
  color: #F1EFEA;
}
.reservation__logo {
  margin-bottom: 3rem;
  transition: fill 0.4s ease-in-out;
}
.reservation__label {
  margin-top: 2rem;
  white-space: nowrap;
}

.float {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
}
.float a {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: #333631;
  display: block;
  width: 100%;
  padding: 3rem;
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.float a:hover {
  background-color: #333631;
  color: #F1EFEA;
}
.float__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
  border-top: solid 0.1rem #333631;
  border-right: solid 0.1rem #333631;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  max-width: 100%; /* 最大幅を100%に設定 */
  overflow: hidden; /* 要素がはみ出さないようにする */
}
.float__btn:first-child {
  border-left: solid 0.1rem #333631;
}
.float__logo {
  margin-bottom: 1rem;
  max-width: 5rem;
  transition: fill 0.3s ease-in-out;
}
.float__label {
  margin-top: 1rem;
  white-space: nowrap;
  font-size: 1.2rem;
}

@media screen and (min-width: 961px) {
  .float {
    display: none;
  }
}
.access {
  display: flex;
  margin-bottom: 15rem;
}

.accessTxts {
  background-color: #333631;
  color: #F1EFEA;
  padding-left: 10vw;
  padding-right: auto;
  padding-top: 5rem;
  width: 50%;
}
.accessTxts__ttl {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.accessTxts__ruu {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  color: #C5B589;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.accessTxts__address {
  line-height: 3;
}
.accessTxts__details {
  margin-top: 3rem;
  line-height: 2;
}

.accessMap {
  width: 50%;
}
.accessMap iframe {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .access {
    flex-direction: column;
  }
  .accessTxts {
    background-color: #333631;
    color: #F1EFEA;
    padding-left: 2.5rem;
    padding-right: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
  }
  .accessTxts__ttl {
    font-family: "Averia Serif Libre", serif;
    font-weight: "bold";
    letter-spacing: 0.1rem;
    font-style: normal;
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
  .accessTxts__ruu {
    font-size: 3.2rem;
  }
  .accessTxts__address {
    margin-bottom: 2rem;
  }
  .accessMap {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .access {
    font-size: 1.4rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  position: relative;
}
.footer a {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  text-decoration: none;
  color: #333631;
}

.footerMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.footerMenu li {
  margin-left: 4rem;
}
.footerMenu__label {
  position: relative;
}
.footerMenu__label::before {
  content: attr(data);
  display: block;
}
.footerMenu__label::after {
  content: "";
  display: block;
  top: 120%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  margin: auto;
  justify-content: center;
  height: 0.1rem;
  background-color: #333631;
  transition: width 300ms;
  position: absolute;
}
.footerMenu__label:hover::after {
  width: 100%;
}

.copyright {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  letter-spacing: 0.1;
  font-size: 1.2rem;
  margin-bottom: 7rem;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 60%;
  height: 0.1rem;
  background-color: #767676;
}

@media screen and (max-width: 960px) {
  .footerMenu {
    margin-left: 0;
    width: 100%;
  }
  .footerMenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
  }
  .footerMenu li {
    margin-top: 2rem;
    margin-left: 0;
  }
  .footer::before {
    content: "";
    position: absolute;
    top: 0;
    width: 80%;
    height: 0.1rem;
    background-color: #767676;
  }
}
.improvementFv {
  background-image: url("/img/improvementFv.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.improvementFv__hist {
  background-color: rgba(241, 239, 234, 0.9);
  text-align: center;
  padding: 5rem;
}
.improvementFv__ttl {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 4rem;
  padding: 0 0.1em 0.2em;
  margin: 0 auto 3rem;
  border-bottom: 0.1rem solid #767676;
  width: 20rem;
  text-align: center;
}
.improvementFv__details {
  font-size: 2rem;
  line-height: 4rem;
}

@media screen and (max-width: 960px) {
  .improvementFv__hist {
    padding: 2.5rem;
    margin: 2rem;
  }
  .improvementFv__ttl {
    font-size: 3.2rem;
  }
  .improvementFv__details {
    text-wrap: balance;
    word-break: auto-phrase;
    font-size: 1.4rem;
    line-height: 3rem;
  }
}
.ttlUnderBar {
  width: 20rem;
  height: 0.1rem;
  border-bottom: 0.1rem solid #767676;
  margin: 0 auto;
}

.improvement__ttl {
  position: relative;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.improvement__details {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.improvementContents {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.improvementContents__details {
  padding-left: 7.4rem;
  font-weight: 400;
  color: #333631;
  width: 60%;
}

@media screen and (max-width: 960px) {
  .improvementContents {
    display: flex;
    flex-direction: column;
  }
  .improvementContents__details {
    padding-left: 0;
    padding-top: 7rem;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .improvement__ttl {
    font-size: 2.4rem;
  }
  .improvement__details {
    font-size: 1.4rem;
    margin: 4rem 6rem;
  }
  .improvementContents__details {
    padding-top: 0;
    margin: 4rem 4rem;
    font-size: 1.4rem;
  }
}
.improvementColor__ttl {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  .improvementColor__ttl {
    text-wrap: balance;
    word-break: auto-phrase;
  }
}
.improvementColorImg {
  display: flex;
  flex-direction: column;
}
.improvementColorImg__01 {
  margin-top: 5rem;
  margin-right: auto;
}
.improvementColorImg__02 {
  margin-top: 2rem;
  margin-left: auto;
}

.improvementColorTxts {
  text-align: center;
  background-color: #fdfdfd;
  padding: 6.4rem;
  width: 60%;
  margin: 8rem auto 0;
}

@media screen and (max-width: 960px) {
  .improvementColorTxts {
    text-wrap: balance;
    word-break: auto-phrase;
    width: 100%;
    padding: 4.5rem;
  }
}
.ravissa__ttl {
  position: relative;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.ravissa__img {
  max-width: 100rem;
  margin: 5rem auto;
}
.ravissa__details {
  text-align: center;
  font-weight: 500;
  line-height: 4rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 960px) {
  .ravissa__img {
    width: 100%;
  }
  .ravissa__details {
    text-wrap: balance;
    word-break: auto-phrase;
  }
}
.humanstemcellsFv {
  background-image: url("/img/humanstemcellsFv.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 65rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.humanstemcellsFv__hist {
  background-color: rgba(241, 239, 234, 0.9);
  text-align: center;
  padding: 5rem;
}
.humanstemcellsFv__ttl {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.humanstemcellsFv__details {
  font-size: 2rem;
  margin-top: 2rem;
}

@media screen and (max-width: 960px) {
  .humanstemcellsFv__hist {
    padding-top: 6rem;
    margin: 2rem;
  }
  .humanstemcellsFv__ttl {
    font-size: 3.2rem;
  }
  .humanstemcellsFv__details {
    text-wrap: balance;
    word-break: auto-phrase;
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
.humanstemcells__ttl {
  position: relative;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.humanstemcells__about {
  font-size: 2rem;
}
.humanstemcells__about::before {
  content: "";
  display: inline-block;
  width: 2.8rem;
  height: 2rem;
  background-image: url(../img/ruu_cat.svg);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-right: 1rem;
}
.humanstemcells__details {
  text-align: left;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.humanstemcellsImg {
  max-width: 103.8rem;
  margin: 4rem auto;
}

@media screen and (max-width: 960px) {
  .humanstemcells {
    margin: 0 2.5rem;
  }
  .humanstemcells__ttl {
    text-wrap: balance;
    word-break: auto-phrase;
    font-size: 3rem;
    line-height: 4rem;
  }
  .humanstemcells__about {
    margin-top: 2rem;
  }
  .humanstemcells__details {
    text-wrap: balance;
    word-break: auto-phrase;
  }
  .humanstemcellsImg {
    margin: 2rem 2.5rem;
  }
}
.kyoukamiMenu__ttl {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.kyoukamiMenu__details {
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.kyoukamiMenuImg {
  max-width: 96.6rem;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .kyoukamiMenu {
    margin: 0 2.5rem;
  }
  .kyoukamiMenu__about {
    margin-top: 2rem;
  }
  .kyoukamiMenu__details {
    text-wrap: balance;
    word-break: auto-phrase;
    margin: 2.5rem auto;
  }
  .kyoukamiMenuImg {
    margin: 0 2.5rem;
    display: flex;
    flex-wrap: nowrap;
  }
  .kyoukamiMenuImg img {
    height: auto;
    width: auto;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.kyoukamiFlow__ttl {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.kyoukamiFlow__details {
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.kyoukamiFlowImg {
  max-width: 107.3rem;
  margin: 0 auto;
}

@media screen and (min-width: 961px) {
  .kyoukamiFlowImgSp {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .kyoukamiFlowImgSp {
    margin: 0 2.5rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: block;
    width: 100%;
  }
  .kyoukamiFlowImgSp img {
    width: auto;
    height: auto;
    display: block;
    max-width: none;
  }
}
.kyoukamiQanda__ttl {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.kyoukamiQanda__details {
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.kyoukamiQandaList {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.kyoukamiQandaList dl {
  background-color: #fdfdfd;
  border: solid 0.1rem #333631;
  padding: 3rem;
  margin-top: 2rem;
}
.kyoukamiQandaList dt {
  margin-bottom: 2rem;
}
.kyoukamiQandaList dt::before {
  content: "Q";
  margin-right: 1rem;
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 3rem;
}
.kyoukamiQandaList dd {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 3.4rem;
  position: relative;
}
.kyoukamiQandaList dd::before {
  position: absolute;
  content: "A";
  margin-right: 1rem;
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 3rem;
  left: -3.3rem;
  top: -0.8rem;
}
.kyoukamiQandaList__qa {
  font-family: "Averia Serif Libre", serif;
  font-weight: "bold";
  letter-spacing: 0.1rem;
  font-style: normal;
  font-size: 3rem;
}

.qandLine {
  max-width: 103.2rem;
  height: 0.1rem;
  border-bottom: 0.1rem solid #767676;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .kyoukamiQandaList {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
.fadeUp,
.fadeLeft,
.fadeRight {
  opacity: 0;
  transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.fadeUp {
  transform: translateY(30px);
}

.fadeUp.visible {
  opacity: 1;
  transform: translateY(0);
}

.fadeLeft {
  transform: translateX(-30px);
}

.fadeLeft.visible {
  opacity: 1;
  transform: translateX(0);
}

.fadeRight {
  transform: translateX(30px);
}

.fadeRight.visible {
  opacity: 1;
  transform: translateX(0);
}/*# sourceMappingURL=style.css.map */